{% extends "layout.html" %}

{% block title %}
    Sell a Stock
{% endblock %}

{% block main %}

        {% if session.user_id %}
            <p>
                <h5>You currently have {{ cash }} in cash available.</h5>
                <br>
                <br>
            </p>
            <form action="/sell" method="post">
                <div class="form-group">
                    <label><b>Select the Symbol of your Stock to Sell: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </b></label>
                    <select class="form-control" name="symbol">
                            <option disabled selected value>Symbol</option>
                            {% for val in symbols %}
                                <option value="{{ val }}">{{ val }}</option>
                            {% endfor %}
                        <br>
                    </select>
                </div>
                <div class="form-group">
                    <br>
                    <label><b>Number of Shares you Want to Sell: &nbsp; &nbsp; </b></label>
                        <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Shares" type="number">
                    <br>
                </div>
                <br>
                <button class="btn btn-primary" type="submit">Sell Stock</button>
            </form>
        {% endif %}

{% endblock %}
